body {
    font-family: Raleway, helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

text {
    font-family: Raleway, helvetica, sans-serif;
    color: rgb(0, 0, 0);
}


h1 {
    color: rgb(121, 187, 5);
    font-size: 127%;
    font-family: Raleway, georgia, serif;
}

.title {
    margin-right: 200px;
}

h2 {
    color: rgb(0, 124, 146);
    font-size: 121%;
}

h3 {
    color: rgb(0, 124, 146);
    font-size: 109%;
    font-weight: bold;
}

h4 {
    color: rgb(0, 124, 146);
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
}

.watermark {
    opacity: 0.2;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 500%;
    color: #00407d;
}


#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

